<!--<script>
    var controller = new ScrollMagic.Controller();
    var scene = new ScrollMagic.Scene({triggerElement:"#loader", triggerHook:"onEnter"})
            .addTo(controller)
            .on("enter",function(e){
                if(!$("#loader").hasClass("active")){
                    $("#loader").addClass("active");
                    if(console){
                        console.log('new item');
                    }
                    setTimeout(addText,1000,9);
                }
            })

    function addText(amount){
        for(var i=0 ; i<=amount;i++){
            $("<div></div>")
                    .addClass("box1")
                    .text("test " + i)
                    .appendTo("#content");
        }
        scene.update();
        $("#loader").removeClass("active");
    }
    addText(20);
</script>
<div id="content">
</div>
<div id="loader">
    Loading....
</div>-->

<div class="container full-height">
    <div class="row full-height">
        <div class="col-md-3 full-height">
            <div class="well" id="well2">
                <div class="list-group">
                    <%for(var i in bikes){%>
                        <a href="/bikes/<%=bikes[i]._id%>/detail" class="list-group-item">
                            <h4 class="list-group-item-heading"><%=bikes[i].title%></h4>
                            <h4 class="list-group-item-heading"><%=bikes[i].price.day%></h4>
                            <p class="list-group-item-text"><%=bikes[i].type%>/<%=bikes[i].height%></p>
                        </a>
                    <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3><a href="/test">Next</a></h3>
</div>


